<a href="https://colab.research.google.com/github/SRHridoy/Machine_Learning_WorkShop/blob/main/01_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World!")

Hello World!

**Taking input in Python**(shift+Enter to run)

In [3]:
name = input("Enter your name : ")

Enter your name : Hridoy
Hridoy

In [4]:
print("The name is : "+name)

The name is : Hridoy

In [5]:
name = input("Enter your University name : ")
print("The Univerisity name is "+name)

Enter your University name : HSTU
The Univerisity name is HSTU

**Arithmatic:**

In [6]:
num1 = int(input("Enter the first number : "))
num2 = int(input("Enter the second number : "))
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

Enter the first number : 5
Enter the second number : 5
10
0
25
1.0

**Why typecast**

In [7]:
num1 = input("Enter a number : ")
print(num1)
num2 = input(12)
print(num2)

Enter a number : 5
5
122
2

**Conditional Statements :**

In [8]:
number = int(input("Enter the number : "))

if number % 2 == 0:
  print("Even")
else:
  print("Odd")

Enter the number : 2
Even

In [9]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, " is a leap year")
else:
    print(year, " is not a leap year")

Enter a year: 2000
2000  is a leap year

**Take a number and print multiplication**

In [20]:
num = int(input("Enter a number : "))
for i in range(1,11):
  mul = num*i
  print(f"{num} x {i} = {mul}")

Enter a number : 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

**Loop:**

In [24]:
for i in range(1,10):
  print(i)

val = 1
while(val<=10):
  print(val)
  val+=1

1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
10

**Function**

In [22]:
def Summation(number1, number2):
  return number1+number2
def Substraction(number1, number2):
  return number1-number2

num1 = int(input("Enter the first number : "))
num2 = int(input("Enter the second number : "))

sum = Summation(num1, num2)
print(sum)
sub = Substraction(num1, num2)
print(sub)

Enter the first number : 5
Enter the second number : 5
10
0

In [23]:
# Leap year HomeWork:
def isLeapYear(year):
  if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, " is a leap year")
  else:
    print(year, " is not a leap year")

year = int(input("Enter a year: "))

isLeapYear(year)

Enter a year: 2000
2000  is a leap year

**Recursion**

In [27]:
def fact(num):
  if num == 1:
    return 1
  else:
    return num * fact(num-1)

number = int(input("Enter a number : "))
fact(number)

Enter a number : 5

120

**Object:**

In [41]:
class HSTU:
    Name = None
    def __init__(self):
        self.Name = None
        self.ID = None

    def setName(self, name):
        self.Name = name

    def getName(self):
        return self.Name

student = HSTU()
student.setName("Hridoy")
print(student.getName())
student.setName("King")
print(student.Name)

Hridoy
King

**List in Python**

In [50]:
li = []

for i in range(0, 5):
  x = int(input(f"Enter the {i}th number: "))
  li.append(x)

even = 0
odd = 0
for i in range(0, 5):

  if li[i]%2==0:
    even+=1
  else:
    odd+=1
print(f"No. of Even : {even}")
print(f"No. of Odd : {odd}")

Enter the 0th number: 2
Enter the 1th number: 3
Enter the 2th number: 4
Enter the 3th number: 5
Enter the 4th number: 6
No. of Even : 3
No. of Odd : 2